body{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
}

@font-face{
    font-family: 'Colfax';
    src: url('Colfax-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face{
    font-family: 'Colfax';
    src: url('Colfax-Medium.woff') format('woff');
    font-weight: 500;
}

.pagetitle.component{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.component-content{
    margin-left: auto;
    margin-right: auto;
    width: 653px;
}

.hero-headline{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 700;
    letter-spacing: -.003em;
    font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
    margin-top: 70px;
}

.component{
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.video-hero .component-content{
    width: 980px;
}

video{
    width: 100%;
    vertical-align: baseline;
    object-fit: contain;
}

.pagebody{
    font-size: 19px;
    line-height: 1.5681;
    font-weight: 400;
    letter-spacing: .013em;
    font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
}

.pagebody-copy{
    margin-top: 0;
    margin-bottom: 1.4211em;
}

.pagebody-header{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 700;
    letter-spacing: .009em;
    font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
    margin-bottom: 16px;
    margin-top: 3.14em;
}

.pagebody-subheader{
    font-size: 21px;
    line-height: 1.16667;
    font-weight: 700;
    letter-spacing: .009em;
    font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
    margin-bottom: 16px;
    margin-top: 3.14em;
}

.image-description{
    width: 653px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #757575;
    text-align: center;
    margin: 16px 0 0;
    font-size: 15px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.article-image{
    background-image: url(images/hero_mm_sh_2x.jpg);
    width: 980px;
    height: 551px;
    background-size: 980px 551px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -490px;
}

.article-image-two-windows{
    background-image: url(images/mm_two_windows_2_2x.jpg);
    width: 980px;
    height: 551px;
    background-size: 980px 551px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -490px;
}

.article-image-connected{
    background-image: url(images/mm_connected_2x.jpg);
    width: 980px;
    height: 551px;
    background-size: 980px 551px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -490px;
}

.article-image-main_menu{
    background-image: url(images/mm_main_menu_2x.jpg);
    width: 980px;
    height: 551px;
    background-size: 980px 551px;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    margin-left: -490px;
}





.slideshow1{
    max-width: 100%;
    margin: auto;
    position: relative;
}

.container{
    max-width: 1100px;
    margin: auto;
}

ul{
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

li {
    display: block;
    float: none;
    cursor: default;
}

section{
    overflow: hidden;
    position: relative;
    display: block;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

.section-content{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    position: relative;
}

.section-content::before{
    content: " ";
    display: table;
}

.section-content::after{
    clear: both;
    content: " ";
    display: table;
}

.row-copy::before{
    content: " ";
    display: table;
}

.row-copy::after{
    clear: both;
    content: " ";
    display: table;
}

.row-copy{
    position: relative;
    margin-top: 86px;
    margin-bottom: 174px;
}

.row-copy-bio{
    position: relative;
    margin-top: 180px;
    margin-bottom: 200px;
}

.headline-column{
    width: 50%;
    position: relative;
    float: left;
    box-sizing: border-box;
    min-height: 2px;
    margin: 0;
    padding-right: 40px;
}

.copy-column{
    width: 50%;
    position: relative;
    float: left;
    box-sizing: border-box;
    min-height: 2px;
    margin: 0;
    padding: 0;
}

.copy-hero-column{
    width: 52%;
    margin: 0;
    padding: 0;
}

.copy-hero-column-bio{
    width: 62%;
    margin: 0;
    padding: 0;
}

.typography-headline{
    font-size: 48px;
    line-height: 1.08365;
    font-weight: 500;
    letter-spacing: -.023em;
    font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
    font-style: normal;
    padding-bottom: 6px;
}

.typography-subheadline{
    font-size: 19px;
    line-height: 1.49935;
    font-weight: 400;
    letter-spacing: -.012em;
    font-family: 'Colfax', 'Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #777777;
    font-style: normal;
}

.typography-copy{
    font-size: 19px;
    line-height: 1.49935;
    font-weight: 400;
    letter-spacing: -.012em;
    font-family: 'Colfax', 'Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    font-style: normal;
}

.typography-copy-bio{
    font-size: 22px;
    line-height: 1.45;
    font-weight: 400;
    letter-spacing: -.018em;
    font-family: 'Colfax', 'Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    font-style: normal;
}

.link a{
    border-bottom: 1px solid #333;
    padding-bottom: 3px;
    text-decoration: none;
    color: #333;
    font-family: 'Colfax', 'Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.web-link{
    font-size: 19px;
    line-height: 1.49935;
    font-weight: 400;
    letter-spacing: -.012em;
    font-family: 'Colfax', 'Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #777;
    font-style: normal;
    text-decoration: none;
}

.web-link:hover{
    color: #333;
}


@media only screen and (max-width: 1068px){
    .pagebody{
        font-size: 17px;
        line-height: 1.47059;
        font-weight: 400;
        letter-spacing: -.022em;
        font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #111;
    }

    .component{
        margin-top: 36px;
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
        width: 692px;
    }

    .article-image{
        background-image: url(images/Apple-TV-plus-MLB-Friday-Night-Baseball-details_big.jpg.large_2x.jpg);
        width: 692px;
        height: 519px;
        background-size: 692px 519px;
        background-repeat: no-repeat;
        position: relative;
        left: 50%;
        margin-left: -346px;
    }

    .component{
        margin-top: 44px;
        margin-bottom: 44px;
        margin-left: auto;
        margin-right: auto;
        width: 692px;
    }
    
    .video-hero .component-content{
        width: 692px;
    }

    .pagetitle.component{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 692px;
    }



    .section-content{
        margin-left: auto;
        margin-right: auto;
        width: 692px;
    }
    
    .row-copy{
        margin-top: 56px;
    }
    
    .typography-headline{
        font-size: 40px;
        line-height: 1.1;
        font-weight: 500;
        letter-spacing: -.018em;
        font-family: 'Colfax', 'Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    .headline-column{
        padding-right: 0;
        width: 83.33333%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .copy-column{
        margin-top: 1.47059em;
        width: 83.33333%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    .slideshow1{
        max-width: 90%;
        margin: auto;
        position: relative;
    }
    
    .copy-hero-column-bio{
        padding-right: 0;
        width: 83.33333%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (max-width: 735px){
    .pagebody{
        font-size: 17px;
        line-height: 1.47059;
        font-weight: 400;
        letter-spacing: -.022em;
        font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #111;
    }

    .component{
        max-width: 414px;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .article-image{
        background-image: url(images/Apple-TV-plus-MLB-Friday-Night-Baseball-details_big.jpg.large_2x.jpg);
        width: 414px;
        height: 311px;
        background-size: 414px 311px;
        background-repeat: no-repeat;
        position: relative;
        left: 50%;
        margin-left: -207px;
    }
    
   .component-content{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .pagetitle.component{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 87.5%;
    }

    .video-hero .component-content{
        width: 100%;
    }
    
    video{
        width: 100%;
        vertical-align: baseline;
        object-fit: contain;
    }

    .image-description{
        margin-left: auto;
        margin-right: auto;
        width: 87.5%;
        display: block;
        color: #757575;
        text-align: center;
        margin-top: 12px;
        font-size: 14px;
        line-height: 1.33337;
        font-weight: 400;
        letter-spacing: -.01em;
        font-family: 'Colfax','Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }








    .section-content{
        margin-left: auto;
        margin-right: auto;
        width: 87.5%;
    }
    
    .row-copy{
        margin-top: 46px;
        margin-bottom: 106px;
    }
    
    .row-copy-bio{
        position: relative;
        margin-top: 180px;
        margin-bottom: 200px;
    }
    
    .typography-headline{
        font-size: 32px;
        line-height: 1.125;
        font-weight: 500;
        letter-spacing: -.014em;
        font-family: 'Colfax', 'Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    .headline-column{
        padding-right: 0;
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .copy-column{
        margin-top: 1.47059em;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    .typography-copy{
        font-size: 18px;
        line-height: 1.52215;
        font-weight: 400;
        letter-spacing: 0em;
        font-family: 'Colfax', 'Archivo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    .typography-subheadline{
        font-size: 18px;
        line-height: 1.52215;
        font-weight: 400;
        letter-spacing: 0em;
        font-family: 'Colfax', 'Archivo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    .typography-copy-bio{
        font-size: 18px;
        line-height: 1.52215;
        font-weight: 400;
        letter-spacing: 0em;
        font-family: 'Colfax', 'Archivo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    .web-link{
        font-size: 18px;
        line-height: 1.52215;
        font-weight: 400;
        letter-spacing: 0em;
        font-family: 'Colfax', 'Archivo', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #777777;
        font-style: normal;
    }
    
    .slideshow1{
        max-width: 100%;
        margin: auto;
        position: relative;
    }
    
    .copy-hero-column-bio{
        width: 100%;
    }
}
